<% @users.each do |user| %>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
      <%= user.name %>
      <%= link_to 'Delete', 
      					user_path(user), 
                         method: :delete, 
                         class: 'btn btn-warning',
                         data: { confirm: 'Are you sure you want to delete this user?' } %> </div>
      <div class="panel-body">
        <ul>
          <li>Email: <%= user.email %></li>
          <li>User ID: <%= user.id %></li>
          <li>Is Administrator: <%= user.admin %></li>
          <li>Last Signed In: <%= user.last_sign_in_at.strftime('%H:%M:%S %B, %d, %Y') %></li>
        </ul>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
<% end %>