<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :project_type %>
    <%= form.select(:project_type, Project::TYPES, {}, {id: 'project_type'}) %>
  </div>

  <div class="field">
    <%= form.label :estimated %>
    <%= form.number_field :estimated, in: 1...11, id: :project_estimated %>
  </div>

  <div class="field">
    <%= form.label :actual %>
    <%= form.number_field :actual, in: 1...11, id: :project_actual %>
  </div>

  <div class="field">
    <%= form.label :project_status %>
    <%= form.select(:project_status, Project::STATUSES, {}, {id: 'project_status'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
