
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.project_type %>
</p>

<p>
  <strong>Estimated:</strong>
  <%= @project.estimated %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @project.actual %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.project_status %>
</p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_id %></strong>
    <br>
    <p><%= comment.body %></p>
  
  </div>
  <% if policy(comment).update? %>
     <p><%= link_to 'Edit', edit_comment_path(comment) %></p>
  <% end %>
  <% if policy(comment).destroy? %>
     <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment, project_id: @project.id } %>

<% if policy(@project).update? %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
