
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin softText($color) {
  font-size: 11px;
  color: $color;
  font-style: italic;
}

$soft-text-color: grey !default;
$body-background-color: aliceblue !default;
$light-background-color: white !default;
 
body {
	background-color: $body-background-color;
}


.navbar {
  margin-bottom: 20px;
  background-color: $light-background-color;
}

.wrapper {
	margin-top: 60px;
}

.project-panel {
    background: $light-background-color;
    padding: 5px;
    margin: 20px 0;

    .name-details {
    	background-color: #fbfbfb;

    	.name-wrapper {
    		padding: 10px;

    		a {
    			margin-left: 10px;
    		}
    	}

    	.project-status {
    		height: 54px;
    		margin-bottom: 0;
    	}
    }
    .created-details {
    	@include softText($soft-text-color);

    	.icons-wrapper {
    		margin-left: 10px;
    	}

    	span {
    		padding-left: 15px;
			padding-right: 5px;
    	}
    }

    .description-details {
    	background-color: #ffffff;
    	min-height: 100px;

    	.effort-wrapper {

    		.well {
    			width: 50%;
				float: right;
				height: 98px;
				padding: 10px;

				.effort-title {
					@include softText($soft-text-color);
				}

				.effort-number {
					padding: 5px;
					font-size: 22px;
					display: block;
				}
    		}
			
    	}
    }
}

.alert {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: grey;
  font-weight: bold;
}

.alert-success {
  @extend .alert;
  border-color: green;
}

.alert-danger {
  @extend .alert;
  border-color: red;
}

.alert-warning {
  @extend .alert;
  border-color: orange;
}