<!DOCTYPE html>
<html>
<head>
	<title>Lexop</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application' %>
	<%= javascript_include_tag 'application' %>


</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Home Improvement</a> </div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
					<%= link_to("New Project", new_project_path, class: 'btn btn-default navbar-btn') %>
					<%= link_to("View Projects", projects_path, class: 'btn btn-default navbar-btn') %>
					<% unless current_user %> 
						<%= link_to("Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-default navbar-btn navbar-right') %>
						<%= link_to('Login', new_user_session_path, class: 'btn btn-default navbar-btn navbar-right')  %>
						<%= link_to('Register', new_user_registration_path, class: 'btn btn-default navbar-btn navbar-right')  %>
					<% else %>
					<% if current_user.admin? %>
					    <%= link_to("View Users", users_path, class: 'btn btn-default navbar-btn') %>
					<% end %>
						<span class="text-success">Logged In As: <%= current_user[:name] %></span>
						<%= link_to("Logout", destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn navbar-right') %>
					<% end %>
				
				</div>
			</div>
		</nav>
		

		<div class="container wrapper">
		<% if notice %>
			<div class="alert alert-warning"><%= notice %></div>
			<% end %>
			<% if alert %>
			<div class="alert alert-danger"><%= alert %></div>
		<% end %>
			<%= yield %>
		</div>
	</body>
	</html>
